#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table, td, tr,th{
  border: 2px solid white;
  border-collapse: collapse;
}

table{
  align-items: center;
  justify-content: center;
  margin: auto;
}

input{
  margin-top: 2em;
  margin-right: 1em;
}